@import "../../App.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  position: relative;
}

.footer {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: #d2ac47;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;

  &:hover {
    background-color: #e6bf53;
  }
}

.divider {
  height: 50%;
  width: 2px;
  background-color: #202020;
}
